@tailwind base;
@tailwind components;
@tailwind utilities;

.projects-section {
  @apply py-20 px-6 bg-gray-900 text-white border-b border-white/10;
}

.projects-title {
  @apply text-4xl md:text-5xl font-bold text-center mb-16 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-teal-400;
}

.projects-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto;
}

.project-card {
  @apply relative bg-black/40 rounded-xl hover:-translate-y-2 transition-all duration-300 hover:shadow-2xl hover:shadow-blue-500/20 border border-white/10 overflow-hidden;
}

.project-card-content {
  @apply p-6;
}


.project-card-title {
  @apply font-bold text-2xl mb-4 transition-colors relative z-10;
}

.group:hover .project-card-title {
  @apply text-blue-400;
}


.project-card-description {
  @apply text-gray-400 mb-4;
}

.project-card-tech-stack {
  @apply flex flex-wrap gap-2 mt-auto relative z-10;
}

.project-card-tech-item {
  @apply text-xs font-medium bg-gray-900 text-gray-300 py-1 px-3 rounded-full border border-white/10;
}